---

---

<style>
	.logo { max-width: 200px; }

	.header-area { background-color: #fff; }

	@media only screen and (max-width: 768px) { .header-area { display: none; } }

	.header-area .nav li a {
		font-size: 1.4rem;
		line-height: 0.9;
		color: #131212;
	}

	.nav-btn-group {
		font-size: 1.8rem;
		line-height: 56px;
		font-weight: 400;
	}

	.nav-btn {
		color: #ffffff;
    padding: 10px 5px;
		max-width: 225px;
		font-size: 1.8rem;
		font-weight: 400;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.nav-icon-btns {
		display: block;
		font-size: 1.4rem;
		color: #131212;
	}
</style>

<header class="col-12 col-lg-auto flex-grow-1 header-area">
		<div class="logo my-5">
				<a><img class="logo" src="/assets/images/core-img/little-miss-sunshine-logo.png" alt="LMS - 'Grandpa's Dead In The Van'"></a>
		</div>
		<nav class="nav">
			<ul class="list-unstyled ">
				<li class="active"><a class="d-block text-decoration-none text-uppercase py-4" href="/">Home</a></li>
				<li><a class="d-block text-decoration-none text-uppercase py-4" href="/products/page">Shop</a></li>
				<li><a class="d-block text-decoration-none text-uppercase py-4" href="/cart.html">Cart</a></li>
				<li><a class="d-block text-decoration-none text-uppercase py-4" href="#">Checkout</a></li>
			</ul>
		</nav>
		<div class="nav-btn-group b-0 d-flex flex-column">
			<a style="background-color: #224229;" href="#" class="btn nav-btn mb-3">Discount</a>
			<a style="background-color: #131212;" href="#" class="btn nav-btn active mb-5">New this week</a>
		</div>
		<div class="cart-fav-search d-flex d-lg-block mb-100">
			<a href="cart.html" class="cart-nav nav-icon-btns text-decoration-none text-uppercase py-2"><img src="/assets/images/core-img/cart.png" alt=""> Cart <span class="snipcart-items-count">(0)</span></a>
			<a href="#" class="fav-nav nav-icon-btns text-decoration-none text-uppercase py-2"><img src="/assets/images/core-img/favorites.png" alt=""> Favorites</a>
			<a href="#" class="search-nav nav-icon-btns text-decoration-none text-uppercase py-2"><img src="/assets/images/core-img/search.png" alt=""> Search</a>
		</div>
</header>
