---
import Pagination from "@philnash/astro-pagination";

export async function getStaticPaths({ paginate }) { /* ... */ }
const { page } = Astro.props;
---

<div class="pagination-wrapper d-flex space-x-8 justify-content-center text-xl pt-16 font-bold">
	<Pagination page={page} urlPattern="/products/page/{}" />
</div>