---
const { page } = Astro.props
---

<section class="d-flex space-x-8 justify-content-center justify-content-md-start text-xl pt-16 font-bold">
  {page.url.prev && <a class="paginate-btn" href={page.url.prev} class="mr-8" data-test="paginator-prev"> <span class="squiggle">&larr;</span> Prev </a>}

  {page.url.next && <a class="paginate-btn" href={page.url.next} data-test="paginator-next"> Next<span class="squiggle">&rarr;</span> </a>}
</section>