---
import Pagination from "@philnash/astro-pagination";

export async function getStaticPaths({ paginate }) { /* ... */ }
const { page } = Astro.props;
---

<div class="pagination-wrapper d-flex space-x-8 justify-content-center text-xl font-bold">
	<Pagination page={page} urlPattern="/products/page/{}" />
</div>

<style is:global>
	.pagination-wrapper {
		border: 1px solid c;
		padding: 1px 6px;
	}
	.pagination-wrapper ul {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		margin-bottom: 0;
	}
	.pagination-wrapper li {
		border: 1px solid #00000021;
		padding: 1px 6px;
	}
	.pagination-wrapper ul a { 
		color: var(--main-font-color);
		padding: 0px 5px;
		font-size: 14px;
	}
	.pagination-wrapper li em {
		font-style: unset;
		font-size: 14px;
	}
	.pagination-wrapper li:has(em) {
		background-color: var(--brand-green);
		color: #ffffff;
	}
</style>