---
import ProductCard from '../components/ProductCard.astro';

interface Frontmatter {
	// productOne: any; // Access individual properties
	image: string;
	name: string;
	id: string;
	price: number; 
	URL: string;
}
const allPosts = await Astro.glob<Frontmatter>('../data/items/*.json'); // To create a component
// const allPosts = await Astro.glob<Frontmatter>('../data/items/together.json'); // Access individual properties

---

<style>
	.main-product-image {
		max-width: 400px;
		width: 100%;
	}

	.product-name {
		outline: 0 solid transparent;
    color: #131212;
    font-weight: 400;
    font-size: 1.5rem;
		font-weight: 500;
	}
</style>

<div class="col-12 col-md-6 flex-grow-1">
	<div class="row">
		{allPosts.map(post => 
			<div class="col-12 col-md-4 d-flex flex-column align-items-center align-items-md-start flex-grow-1 mb-5 position-relative">
				<img class="main-product-image mb-4" src={post.image} alt="">	
				<div class="price-wrapper">
					<div class="price-wrapper--bar"></div>
					<h6 class="price-wrapper--price py-3 m-0">${post.price}</h6>
				</div>
				<a class="text-decoration-none stretched-link" href={post.URL}>
					<h6 class="product-name m-0">{post.name}</h6>
				</a>
			</div>
			)}
	</div>
</div>