---

---

<style>
	.shop_sidebar_area {
		background-color: #f5f7fa;
	}

	.shop_sidebar_items-font {
		font-size: 14px;
    color: #131212;
	}

	.shop_sidebar_headings-font {
		font-size: 16px;
    text-transform: capitalize;
    color: #242424;
		padding: 0 0 0.5rem 0;
		text-decoration: underline;
		text-underline-position: under;
	}

	.fa-angle-right {
		transform: rotate(90deg);
    transition: all 0.3s ease;
 	}
	.chevron__arrows-btn.collapsed .fa-angle-right {
		transform: rotate(0deg);
	}
</style>

<div class="col-0 col-md-2 px-1 px-md-5 shop_sidebar_area" style="width: 280px;">
	<a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
		<svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
		<span class="fs-5 fw-semibold">Collapsible</span>
	</a>
	<ul class="list-unstyled ps-0">
		<li class="mb-1">
			<button class="chevron__arrows-btn btn btn-toggle d-inline-flex align-items-center rounded border-0 px-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
				<span class="shop_sidebar_headings-font">Categories</span>
				<i class="fa fa-angle-right ms-3 active" aria-hidden="true"></i>
			</button>
			<div class="collapse show" id="home-collapse">
				<ul class="shop_sidebar_items-font btn-toggle-nav list-unstyled fw-normal pb-1 small">
					<li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Modern</a></li>
					<li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Contemporary</a></li>
					<li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Beach</a></li>
					<li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Lake</a></li>
				</ul>
			</div>
		</li>
		<li class="mb-1">
			<button class="chevron__arrows-btn btn btn-toggle d-inline-flex align-items-center rounded border-0 px-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
				<span class="shop_sidebar_headings-font">Realtor</span>
				<i class="fa fa-angle-right ms-3 active" aria-hidden="true"></i>
			</button>
			<div class="collapse" id="dashboard-collapse">
				<ul class="shop_sidebar_items-font btn-toggle-nav list-unstyled fw-normal pb-1 small">
					<li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Craig</a></li>
					<li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Sarah</a></li>
				</ul>
			</div>
		</li>
		<li class="mb-1">
			<button class="chevron__arrows-btn btn btn-toggle d-inline-flex align-items-center rounded border-0 px-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
				<span class="shop_sidebar_headings-font">Location</span>
				<i class="fa fa-angle-right ms-3 active" aria-hidden="true"></i>
			</button>
			<div class="collapse" id="orders-collapse">
				<ul class="shop_sidebar_items-font btn-toggle-nav list-unstyled fw-normal pb-1 small">
					<li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">California</a></li>
					<li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Arizona</a></li>
					<li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Florida</a></li>
				</ul>
			</div>
		</li>
		<li class="border-top my-3"></li>
		<li class="mb-1">
			Price
		</li>
		<label for="customRange3" class="form-label">Example range</label>
		<input type="range" class="form-range" min="500000" max="2000000" step="25000" id="customRange3" onchange="rangePrimary.value=value">
		<div class="input-group mb-3">
			<span class="input-group-text">$</span>
			<input id="rangePrimary" type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
		</div>
	</ul>
</div>