---

---

<style is:global>
	.sidebar {
		background-color: #f5f7fa;
		transition: all 200ms linear;
	}

	.sidebar--isHidden {
    visibility: hidden;
    z-index: -1;
    transform: translateX(-50%);
    transition: all 200ms linear;
		opacity: 0;
    height: 0;
    width: 0;
  }

	.shop_sidebar_items-font {
		font-size: 1.4rem;
    color: #131212;
	}

	.shop_sidebar_headings-font {
		font-size: 1.4rem;
    text-transform: capitalize;
    color: #242424;
		padding: 0 0 0.5rem 0;
		text-decoration: underline;
		text-underline-position: under;
	}

	.fa-angle-right {
		transform: rotate(90deg);
    transition: all 0.3s ease;
 	}
	.chevron__arrows-btn.collapsed .fa-angle-right { transform: rotate(0deg); }
</style>

<div class="col-12 col-lg-2 px-2 px-lg-5 py-1 py-lg-5 shop_sidebar_area shop_sidebar_area--hidden sidebar ">
	<h2 class="shop_sidebar_items-font fw-bold mb-3">Filter By</h2>
	<ul class="list-unstyled ps-0 border-top">
		<li class="mb-2">
			<button class="chevron__arrows-btn btn btn-toggle d-inline-flex align-items-center rounded border-0 px-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
				<span class="shop_sidebar_headings-font">Categories</span>
				<i class="fa fa-angle-right ms-3 active" aria-hidden="true"></i>
			</button>
			<div class="collapse show" id="home-collapse">
				<ul class="shop_sidebar_items-font btn-toggle-nav list-unstyled fw-normal pb-1 small">
					<li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Modern</a></li>
					<li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Contemporary</a></li>
					<li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Beach</a></li>
					<li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Lake</a></li>
				</ul>
			</div>
		</li>
		<li class="mb-2">
			<button class="chevron__arrows-btn btn btn-toggle d-inline-flex align-items-center rounded border-0 px-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
				<span class="shop_sidebar_headings-font">Realtor</span>
				<i class="fa fa-angle-right ms-3 active" aria-hidden="true"></i>
			</button>
			<div class="collapse" id="dashboard-collapse">
				<ul class="shop_sidebar_items-font btn-toggle-nav list-unstyled fw-normal pb-1 small">
					<li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Craig</a></li>
					<li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Sarah</a></li>
				</ul>
			</div>
		</li>
		<li class="mb-2">
			<button class="chevron__arrows-btn btn btn-toggle d-inline-flex align-items-center rounded border-0 px-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
				<span class="shop_sidebar_headings-font">Location</span>
				<i class="fa fa-angle-right ms-3 active" aria-hidden="true"></i>
			</button>
			<div class="collapse" id="orders-collapse">
				<ul class="shop_sidebar_items-font btn-toggle-nav list-unstyled fw-normal pb-1 small">
					<li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">California</a></li>
					<li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Arizona</a></li>
					<li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Florida</a></li>
				</ul>
			</div>
		</li>
		<li class="border-top my-3"></li>
		<li class="mb-1">
			Price
		</li>
		<label for="customRange3" class="form-label">Example range</label>
		<input type="range" class="form-range" min="500000" max="2000000" step="25000" id="customRange3" onchange="rangePrimary.value=value">
		<div class="input-group mb-3">
			<span class="input-group-text">$</span>
			<input id="rangePrimary" type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
		</div>
	</ul>
</div>