---
const { tags, align } = Astro.props;
const tagsSorted = tags ? tags.sort() : [];
const ulAlignment = align ? align : "start";
---

<ul class={`text-${ulAlignment}`}>
	{tagsSorted.map((tag: String) => ( <li><a href={`/products/tag/${tag}/`} class="badge tag-badge">#{tag}</a></li>))}
</ul>

<style>
	ul {
		margin-bottom: 0 !important;
		padding-left: 0 !important;
		display: flex;
		flex-wrap: wrap;
		justify-content: stretch;
	}
	.tag-badge {
		font-size: 13px;
		color: #000;
		padding: 7px;
		background-color: rgb(246, 246, 246);
		border-radius: 10px;
		text-decoration: none;
		margin: 5px 10px 0px 0px;
	}
	a:hover {
		color: var(--brand-green);
	}
</style>
