---

---

<a id="toggleSidebar" class="d-block ps-3 py-3"><i class="fa fa-tasks" aria-hidden="true"></i> Filter</a>

<script>
	window.addEventListener("DOMContentLoaded", () => {
		const sideBarToggle = document.getElementById("toggleSidebar");
		const sidebarEl = document.querySelector('.shop-sidebar-area--hidden');

		sideBarToggle.addEventListener("click", () => {
			sidebarEl.classList.toggle("sidebar--isHidden");
			
			sideBarToggle.innerHTML = sidebarEl.classList.contains( "sidebar--isHidden")
				? `<i class="fa fa-tasks" aria-hidden="true"></i> Filter`
				: `<i class="fa fa-tasks" aria-hidden="true"></i> Hide Filter`;
		});
	});
</script>

<style>
	#toggleSidebar {
		cursor: pointer;
		color: var(--main-font-color);
	}
</style>