:root {
	--main-font-color: #131212;
}

/* MainLayout */
@media (min-width: 1600px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
		max-width: 1620px;
	}
}

* {
	margin: 0;
	padding: 0;

	outline: none;
	box-shadow: none;
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	border-spacing: 0;
	list-style: none outside none;
	text-decoration: none;
}

*,
*::before,
*::after { 
	box-sizing: inherit; 
}

html {
	box-sizing: border-box;
	font-size: 67%;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	overflow-y: scroll;
}

body { 
	overflow-x: hidden;
	font-size: 1.2rem;
}

img {
	height: auto;
	width: 100%;
}

a { 
	text-decoration: none; 
}

/* ShopSidebar */
button:focus {
	box-shadow: none!important;
}

#toggleSidebar {
	cursor: pointer;
	color: var(--main-font-color);
	font-size: 1.4rem;
}

.reset-filter-links {
	color: var(--main-font-color);
	padding: 2px 5px;
	border: 1px solid var(--main-font-color);;
	text-decoration: none;
	position: absolute;
	top: 15px;
	right: 10px;
}

.main-product-image { 
	object-fit: cover;
}

.shop-sidebar-area {
	position: relative;
	background-color: #f5f7fa;
	transition: all 200ms ease-in-out;
	border-radius: 20px;
	border-left: 3px solid #242424;
	padding: 20px 10px 20px 0 !important;
}

.sidebar--isHidden {
	visibility: hidden;
	z-index: -1;
	transform: translateX(-50%);
	transition: opacity 0ms ease-in-out, width 250ms ease-in-out 200ms, height 250ms ease-in-out 200ms;
	opacity: 0;
	height: 0;
	width: 0;
}

.shop-sidebar-items-font {
	font-size: 1rem;
	color: var(--main-font-color);
}

.shop-sidebar-headings-font {
	font-size: .95rem;
	font-weight: 500;
	text-transform: uppercase;
	color: #242424;
	padding: 0 0 0.5rem 0;
}

.border-top {
	border-top: 2px solid #dee2e6 !important;
}

@media only screen and (min-width: 768px) {
	.shop-sidebar-items-font {
		font-size: 1.4rem;
	}
	.shop-sidebar-headings-font {
		font-size: 1.4rem;
		padding: 0;
		margin-left: 10px;
	}
	li {
		margin-left: 10px;
	}
}

.fa-angle-right {
	padding: 5px 10px;
	transform: rotate(90deg);
	transition: all 0.3s ease;
}
.chevron__arrows-btn.collapsed .fa-angle-right { 
	transform: rotate(0deg); 
}
.chevron__arrows-btn:hover {
	background-color: #f0f0f0;
}
	
/* Paginator */
.pagination-wrapper ul {
	display: flex;
	flex-wrap: nowrap;
}
.pagination-wrapper ul a{
	color: black;
}
.pt-16 {
	font-size: 18px;
}

.link-btn {
	color: #242424;
	text-decoration: underline;
	text-underline-offset: 2px;
}

.link-btn:hover {
	color: #224229;
}

/* ProductCard */
.object-fit-cover {
	object-fit: cover;
}

.product-slider { 
	overflow-x: scroll; 
	padding: 5px 0 0 0;
	/* max-width: 600px; */
}

.product-slider::-webkit-scrollbar { 
	height: 8px; 
}
	
.product-slider::-webkit-scrollbar-thumb { 
	background-color: #224229; 
	outline: 5px solid #fff; 
}

.product-slider::-webkit-scrollbar-button:start:decrement,
.product-slider::-webkit-scrollbar-button:end:increment {
	position: absolute;
	top: 0;
	display: block;
	height: 34px;
	width: 34px;
	background: #ccc;
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42863/arrow2.png);
	background-size: 100%;
}

.product-slider::-webkit-scrollbar-button:end:increment { background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42863/arrow.png); }

.product-slider--image {
	flex: 0 0 25%;
	min-width: 25%;
	height: 140px;
	background-position: center center;
	background-size: cover;
	cursor: pointer;
}
.product-slider--image:nth-last-child() { margin-right: 0; }

.price-wrapper--bar {
	width: 100%;
	max-width: 80px;
	background-color: #224229;
	padding: 1.5px;
}

.price-wrapper--price {
	font-size: 18pxd;
	font-weight: 400;
	color: #224229;
	line-height: 1;
	margin-bottom: 10px;
}

.product-name {
	outline: 0 solid transparent;
	color: var(--main-font-color);	line-height: 1.3;
	font-weight: 400;
	font-size: 16px;
}

.product-info__reviews--stars {
	font-size: 1rem;
	color: #224229;
}

.product-info__availability--icon {
	color: #20d34a;
	font-size: 1.2rem;
}

.product-info--description {
	line-height: 2.1;
	color: #6b6b6b;
	font-size: 1.6rem;
}

.AddCartBtn {
	width: 100%;
	max-width: 250px;
	display: inline-block;
	min-height: 55px;
	color: #ffffff;
	border: none;
	border-radius: 0;
	padding: 0 7px;
	font-size: 1.8rem;
	line-height: 56px;
	background-color: #224229;
	font-weight: 400;
}

.nav-icon-btns img {
	max-width: 15px;
}