/*
	TODOS
	 - Map over repeated components
	 - Fix css naming convention 
	 - Fix css scope within global to components when not truly global styles
	 - Add animation to homepage
	 
	 - Make the tag/size into a layout (repeated code)
*/

:root {
	--main-font-color: #131212;
	--h2-font-color: #171615;
	--brand-green: #224229;
}

/* MainLayout */
@media (min-width: 1600px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
		max-width: 1620px;
	}
}

* {
	margin: 0;
	padding: 0;

	outline: none;
	box-shadow: none;
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	border-spacing: 0;
	list-style: none outside none;
	text-decoration: none;
}

*,
*::before,
*::after { 
	box-sizing: inherit; 
}

html {
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: scroll;
}

body { 
	overflow-x: hidden;
	font-size: 16px;
	letter-spacing: .12px;
}

img {
	height: auto;
	width: 100%;
}

ol,ul {
	padding: 0;
}

a { 
	text-decoration: none; 
}

a:hover {
	color: var(--main-font-color);
	opacity: .85;
}

button:focus {
	box-shadow: none !important;
}

/* Fonts */
.h2-style {
	font-weight: 400;
	font-size: 40px;
	text-align: center;
	letter-spacing: -0.8px;
}

.fc--dark {
	color: rgb(23, 22, 21);
}
.fc--light {
	color: #f9f8f8;
}
.fc--green {
	color: var(--brand-green);
}

.reset-filter-links {
	color: var(--main-font-color);
	font-size: 12px;
	padding: 2px 5px;
	border: 1px solid var(--main-font-color);;
	text-decoration: none;
	position: absolute;
	top: 15px;
	right: 10px;
}

.main-product-image { 
	object-fit: cover;
}
@media only screen and (min-width: 1200px) {
	.main-product-image {
		height: 330px;
	}
}

.shop-sidebar-area {
	position: relative;
	background-color: #f5f7fa;
	transition: all 200ms ease-in-out;
	border-radius: 20px;
	border-left: 3px solid #242424;
	padding: 20px 10px 20px 0 !important;
}
@media only screen and (max-width: 768px) {
	.shop-sidebar-area {
		width: 95%;
		margin: auto;
	}
}

.sidebar--isHidden {
	visibility: hidden;
	z-index: -1;
	transform: translateX(-50%);
	transition: opacity 0ms ease-in-out, width 250ms ease-in-out 200ms, height 250ms ease-in-out 200ms;
	opacity: 0;
	height: 0;
	width: 0;
}

.shop-sidebar-items-font {
	font-size: 1rem;
	color: var(--main-font-color);
}

.shop-sidebar-headings-font {
	font-size: .95rem;
	font-weight: 500;
	text-transform: uppercase;
	color: #242424;
	padding: 0 0 0.5rem 0;
}

.border-top {
	border-top: 2px solid #00000012 !important;
}

@media only screen and (min-width: 768px) {
	.shop-sidebar-items-font {
		font-size: 12px;
	}
	.shop-sidebar-headings-font {
		font-size: 13px;
		padding: 0;
	}
	.shop-sidebar-headings-font,
	.shop-sidebar-items-font li {
		margin-left: 10px;
	}
}

.fa-angle-right {
	padding: 5px 10px;
	transform: rotate(90deg);
	transition: all 0.3s ease;
}
.chevron__arrows-btn.collapsed .fa-angle-right { 
	transform: rotate(0deg); 
}
.chevron__arrows-btn:hover {
	background-color: #f0f0f0;
}

.link-btn {
	color: #242424;
	text-decoration: underline;
	text-underline-offset: 2px;
}

.link-btn:hover {
	color: var(--brand-green);
}

/* ProductCard */
.object-fit-cover {
	object-fit: cover;
}

.carousel-item {
	max-height: 700px;
}

.product-slider { 
	overflow-x: scroll; 
	padding: 5px 0 0 0;
	/* max-width: 600px; */
}

.product-slider::-webkit-scrollbar { 
	height: 8px; 
}
	
.product-slider::-webkit-scrollbar-thumb { 
	background-color: var(--brand-green); 
	outline: 5px solid #fff; 
}

.product-slider::-webkit-scrollbar-button:start:decrement,
.product-slider::-webkit-scrollbar-button:end:increment {
	position: absolute;
	top: 0;
	display: block;
	height: 34px;
	width: 34px;
	background: #ccc;
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42863/arrow2.png);
	background-size: 100%;
}

.product-slider::-webkit-scrollbar-button:end:increment { background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42863/arrow.png); }

.product-slider--image {
	display: block;
	flex: 0 0 25%;
	min-width: 25%;
	height: 140px;
	background-position: center center;
	background-size: cover;
	cursor: pointer;
}
.product-slider--image:nth-last-child() { margin-right: 0; }

.price-wrapper--bar {
	width: 100%;
	max-width: 160px;
	background-color: var(--brand-green);
	padding: 1px;
}

.price-wrapper--price {
	font-size: 16px;
	font-weight: 400;
	color: var(--brand-green);
	line-height: 1;
	margin-bottom: 10px;
}

.product-name {
	outline: 0 solid transparent;
	color: var(--main-font-color);	line-height: 1.3;
	font-weight: 400;
	font-size: 16px;
}

.product-info__availability--icon {
	color: #20d34a;
}

.product-info--description {
	line-height: 2.1;
	color: #6b6b6b;
}

.AddCartBtn {
	display: inline-block;
	width: 100%;
	min-height: 45px;
	color: #ffffff;
	border: none;
	border-radius: 0;
	background-color: var(--brand-green);
}

.AddCartBtn:hover {
	opacity: .95;
}

.nav-icon-btns img {
	max-width: 15px;
}

.btn-outline-success {
	color: var(--brand-green);
	border-color: var(--brand-green);
}

.btn-outline-success:hover {
	background-color: var(--brand-green);
	border-color: var(--brand-green);
	color: #ffffff;
}